.terraform.lock.hcl
.terraform/
*.plan
*.me
terraform.tfstate
terraform.tfstate.backup
TODO
install-wp.sh
composer.json
ansible-hosts
.env
.env.*
*.tfvars
*.tfvars.json
*.pem
*.key
*.sql
*.sql.gz
*.tar.gz
